@keyframes moveInRight {
  0% {
    transform: translateX(0.3rem); }
  50% {
    transform: translateX(-0.3rem); }
  100% {
    transform: translateX(0.3rem); } }

@keyframes moveInLeft {
  0% {
    transform: translateX(-0.3rem); }
  50% {
    transform: translateX(0.3rem); }
  100% {
    transform: translateX(-0.3rem); } }

@keyframes rotateSun {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg); }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: #e7f0ff;
  padding: 3rem;
  box-sizing: border-box; }

.primary-header {
  text-align: center;
  font-size: 2rem; }

.secondary-header {
  font-size: 1.6rem; }

.fullOpacity {
  opacity: 1; }

.threeQuarterOpacity {
  opacity: 0.95; }

.halfOpacity {
  opacity: 0.9; }

.quarterOpacity {
  opacity: 0.4; }

.noOpacity {
  opacity: 0; }

.result-weather-card {
  display: inline-block;
  background-color: bisque;
  padding: 2rem 1rem;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 8, 21, 0.3);
  transition: all 0.5s; }
  .result-weather-card_text {
    background-color: #000815;
    color: #e7f0ff; }
  .result-weather-card_highT {
    padding: 0.5rem 1rem; }
  .result-weather-card_box {
    width: 10rem;
    height: 10rem;
    border-radius: 5%;
    background-color: #0047b8;
    overflow: hidden;
    position: relative; }
    .result-weather-card_box .img_sun {
      width: 60%;
      height: 60%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%) rotateZ(0deg);
      animation: rotateSun 50s infinite; }
    .result-weather-card_box .img_cloud_d {
      width: 70%;
      height: 70%;
      position: absolute;
      top: 30%;
      left: 20%;
      animation: moveInLeft 20s infinite;
      z-index: 130; }
    .result-weather-card_box .img_cloud_r {
      width: 65%;
      height: 65%;
      position: absolute;
      top: 15%;
      right: 0%;
      animation: moveInLeft 12s infinite;
      z-index: 100; }
    .result-weather-card_box .img_cloud_l {
      width: 65%;
      height: 65%;
      position: absolute;
      top: 25%;
      left: 0%;
      animation: moveInRight 11s infinite;
      z-index: 100; }
  .result-weather-card_lowT {
    padding: 0.5rem 1rem; }
  .result-weather-card .temp-img {
    width: 2rem;
    height: auto; }
  .result-weather-card span {
    display: inline-block; }
  .result-weather-card:hover {
    transform: scale(1.1);
    box-shadow: 0 1rem 4rem rgba(0, 8, 21, 0.4); }

.form-getPosition {
  height: 100%; }
  .form-getPosition_textBox {
    position: relative;
    height: 8rem; }
  .form-getPosition_input-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4rem;
    width: 100%;
    text-align: center; }
  .form-getPosition_label {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.4rem; }
  .form-getPosition_input {
    padding: 1rem 2rem;
    border: 1px solid #91bbff;
    border-radius: 1rem;
    color: #0047b8; }
    .form-getPosition_input::placeholder {
      color: #91bbff; }
  .form-getPosition_btn-container {
    position: relative;
    padding: 1rem;
    width: auto;
    height: 6rem; }
  .form-getPosition_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    border-radius: 5px;
    background: linear-gradient(to bottom, #2f7fff, #0047b8);
    color: #e7f0ff;
    border: 1px solid #0047b8;
    box-shadow: 0 1rem 2rem rgba(0, 8, 21, 0.3);
    transition: all 0.4s; }
    .form-getPosition_btn:hover {
      transform: translate(-50%, -55%) scale(1.05);
      box-shadow: 0 1.5rem 2rem rgba(0, 8, 21, 0.3); }
    .form-getPosition_btn:active {
      transform: translate(-50%, -45%) scale(0.95);
      box-shadow: 0 0.5rem 2rem rgba(0, 8, 21, 0.3);
      background: linear-gradient(to bottom, #91bbff, #2f7fff); }

.header {
  max-width: 60rem;
  padding: 3rem;
  background: linear-gradient(to right, #2f7fff, #0047b8);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #e7f0ff;
  box-shadow: 0 1rem 2rem rgba(0, 8, 21, 0.2); }

.main {
  margin: 0 auto; }

.section-getposition {
  padding: 1rem;
  height: 25rem;
  max-width: 60rem; }
  .section-getposition-city {
    padding: 1.6rem;
    font-size: 1.6rem;
    transform: translateY(-5rem); }

.section-result {
  max-width: 60rem;
  padding: 2rem 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(to right, #2f7fff, #0047b8);
  box-shadow: 0 2rem 4rem rgba(0, 8, 21, 0.2); }
