$color-primary: rgb(47, 127, 255);
$color-primary-light: rgb(145, 187, 255);
$color-primary-dark: rgb(0, 71, 184);

$color-secondary: rgb(172, 154, 0);
$color-secondary-light: rgb(175, 166, 87);
$color-secondary-dark: rgb(101, 91, 0);

$color-tertiary: rgb(215, 0, 0);
$color-tertiary-light: rgb(209, 86, 86);
$color-tertiary-dark: rgb(85, 0, 0);

$color-white: rgb(231, 240, 255);
$color-black: rgb(0, 8, 21);

$color-grey1: rgb(180, 185, 192);
$color-grey2: rgb(117, 119, 123);
