.form-getPosition,
.form-getCity {
  max-width: 40%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  flex-direction: column;

  &_label {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    text-align: center;
  }
  &_input {
    padding: 0.75rem 1.25rem;
    border: 1px solid $color-primary-light;
    border-radius: 1rem;

    font-size: 1.5rem;

    color: $color-primary-dark;

    &::placeholder {
      color: $color-primary-light;
    }
  }

  &_btn {
    padding: 1rem 2rem;
    border-radius: 5px;

    background: linear-gradient(to bottom, $color-primary, $color-primary-dark);
    color: $color-white;
    border: 1px solid $color-primary-dark;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.3);

    transition: transform 0.25s;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 1.1rem 3.5rem rgba($color-black, 0.3);
    }

    &:active {
      transform: scale(0.99);
      box-shadow: 0 0.9rem 2.5rem rgba($color-black, 0.3);

      background: linear-gradient(
        to bottom,
        $color-primary-light,
        $color-primary
      );
    }
  }
}
.form-getCity {
  max-width: 50%;
}
.form-getPosition {
  & p {
    width: 100%;
  }
}
